<section class="about">

    <div class="container">
        <quote class="midsection rocket">
            Our office is a home to innovation and engineering ingenuity. <br />
            Great products are born here — fruits of team’s passionate labor and care.
        </quote>

    </div>

    <section class="info-block who-family">
        <div class="container">
            <div class="who">
                <h3>Who we are</h3>
                <p>
                    Chegg Israel team was built on a foundation of a 3D3R family — a group of close friends and fierce professionals. After 3D3R has joined Chegg in its mission to evolve higher education, the newly formed Chegg Middle East office began to expand.
                </p>
                <p>
                    How do you expand a family? Well, it’s a laborious process that requires both handpicking new members and solid definition if family values. The outcome is a vibrant and colourful pack of top professional, who care about what they came here to do, and … for each other.
                </p>
            </div>
            <div class="family">
                <h3>We are family</h3>
                <p>
                    We love the Israeli intimacy. We set out to build an intimate and warm work place. A family. We are close here at Chegg Israel. We like out people a lot.
                </p>
                <p>
                    We even share the subject we love and care about in weekly talks, when each team member talks about a subject dear to her heart. From surfing, through photo journalism to duck hunting and beyond. So obviously we love coming to the office. Sharing out highs and lows with people who understand us.
                </p>
            </div>
        </div>
    </section>

    <div class="container">
        <quote class="midsection flag">
            Our <strong>mobile</strong> division creates stunning iOS and Android apps.
            Our <strong>web</strong> division does cutting edge front-end development, and is responsible for Chegg’s mobile web architecture.
        </quote>

    </div>


</section>