<section class="about">

    <div class="container">
        <quote class="midsection rocket">
            Our office is a home to innovation and engineering ingenuity. <br />
            Great products are born here — fruits of team’s passionate labor and care.
        </quote>

    </div>

    <section class="info-block who-family">
        <div class="container">
            <div class="who">
                <h3>Who we are</h3>
                <p>
                    Chegg Israel team was built on a foundation of a 3D3R family — a group of close friends and fierce professionals. After 3D3R has joined Chegg in its mission to evolve higher education, the newly formed Chegg Middle East office began to expand.
                </p>
                <p>
                    How do you expand a family? Well, it’s a laborious process that requires both handpicking new members and solid definition if family values. The outcome is a vibrant and colourful pack of top professional, who care about what they came here to do, and … for each other.
                </p>
            </div>
            <div class="family">
                <h3>We are family</h3>
                <p>
                    We love the Israeli intimacy. We set out to build an intimate and warm work place. A family. We are close here at Chegg Israel. We like out people a lot.
                </p>
                <p>
                    We even share the subject we love and care about in weekly talks, when each team member talks about a subject dear to her heart. From surfing, through photo journalism to duck hunting and beyond. So obviously we love coming to the office. Sharing out highs and lows with people who understand us.
                </p>
            </div>
        </div>
    </section>

    <div class="container">
        <quote class="midsection flag">
            Our <strong>mobile</strong> division creates stunning iOS and Android apps.
            Our <strong>web</strong> division does cutting edge front-end development, and is responsible for Chegg’s mobile web architecture.
        </quote>

    </div>

    <section class="bosses">
        <div class="container">
            <div class="shahaf">
                <blockquote>
                    Make a difference, make a mark, be that special someone you know you are.
                </blockquote>
                <p>
                    <a href="mailto:shahaf@chegg.com" class="author">Shahaf Shakuf</a>
                    <span class="position">The Big Boss</span>
                </p>
            </div>
            <div class="aviel">
                <blockquote>
                    It’s all about the people – the team, the students, the office administrator, the boss. In that order.
                </blockquote>
                <p>
                    <a href="mailto:aviel@chegg.com" class="author">Aviel Lazar</a>
                    <span class="position">Mobile Boss</span>
                </p>
            </div>
        </div>
    </section>

    <section class="info-block culture">
        <div class="container">
            <div class="our-culture">
                <h3>Culture</h3>
                <p>
                    Our initial goal was to create a fusion between the best of Israeli culture and the grand product vision of the Silicone Valley. It’s not enough to be only a great engineer — you also have to be able to navigate in the multinational landscape of Chegg’s international operation. We invest in our cultural development, so that we can work with our colleagues in Ukraine for example, and actually understand their culture.
                </p>
                <p>
                    <em>What is our culture?</em>
                    We are geeks, gamers, lovers of books and music, art, sports and travel. We enjoy good food, good conversation. We love sharing. We volunteer because it’s important to us. We do the reserves because it’s an obligation. We sponsor events that promote otherwise neglected issues.                </p>
            </div>
            <div class="kids">
                <blockquote>
                    In the end we want to be able to bring our kids to work, and let them experience us crafting …
                </blockquote>
            </div>
        </div>
    </section>

    <div class="container">
        <quote class="midsection box">
            We — at Chegg — made it our business to tip the balance in favour of fair and rewarding education, with great outcomes, promising and attainable careers and self fulfilment.
            We’re making this dream come true by building great products that help students
            <strong>save time, save money and get smarter.</strong>
        </quote>

    </div>


    <div class="container">
        <quote class="midsection key">
            We are growing, and looking to expand the family. If you’re interested in what we are doing. Come meet us. Ask us anything!
        </quote>

    </div>


    <section class="info-block looking-for">
        <div class="container">
            <div class="arieh">
                <blockquote>
                    We are looking for smart, curious and opinionated developers ... We want people who think different than us, so we can learn from each other. 
                </blockquote>
                <p>
                    <a href="mailto:arieh@chegg.com" class="author">Arieh Glazer</a>
                    <span class="position">Web Boss</span>
                </p>
            </div>
            <div class="rodik">
                <p class="big-n-flashy">we're hiring</p>
            </div>
        </div>
    </section>




</section>