<section class="contact">

    <div class="container">
        <quote class="midsection chat">
            We are growing, and looking to expand the family. If you’re interested in what we are doing. Come meet us. Ask us anything!
        </quote>

    </div>

    <section class="info-block">
        <div class="container">
            <div class="address">
                <h3>Where we at</h3>
                <p>
                    From the very beginning we wanted to have our office outside of the crazy center. So we’d found our place in the Rehovot Science Park. And we love it!
                </p>
                <p>
                    <strong>2nd Haim Pekeris st. Rehovot</strong>
                    — just accross the train station.
                    We’re on the <strong>1st floor</strong> on the left.
                </p>
                <p>
                    Write to us at
                    <a href="mailto:yehuda@chegg.com"><em>yehuda at chegg dot com</em></a>.
                </p>

                <div class="map-embed elastic-embed">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3386.844540651059!2d34.80572499999999!3d31.910821000000016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502b6e4e656ee03%3A0xeced4e25a1058a02!2sChegg+Israel!5e0!3m2!1sen!2sil!4v1422874464148" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
            <div class="facebook">
                <div class="facebook-embed elastic-embed">
                    <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FCheggIsrael&amp;width&amp;height=590&amp;colorscheme=light&amp;show_faces=false&amp;header=true&amp;stream=true&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowTransparency="true"></iframe>
                </div>
            </div>
        </div>
    </section>

</section>