<section class="gallery">
    <div class="container">
        <figure>
            <a href="" class="image-link"><img src="" class="thumbnail"></a>
            <a href="" class="image-link"><img src="" class="thumbnail"></a>
            <a href="" class="image-link"><img src="" class="thumbnail"></a>
            <a href="" class="image-link"><img src="" class="thumbnail"></a>
            <a href="" class="image-link"><img src="" class="thumbnail"></a>
            <a href="" class="image-link"><img src="" class="thumbnail"></a>
            <a href="" class="image-link"><img src="" class="thumbnail"></a>
            <a href="" class="image-link"><img src="" class="thumbnail"></a>
            <a href="" class="image-link"><img src="" class="thumbnail"></a>
            <a href="" class="image-link"><img src="" class="thumbnail"></a>
            <a href="" class="image-link"><img src="" class="thumbnail"></a>
            <a href="" class="image-link"><img src="" class="thumbnail"></a>
            <a href="" class="image-link"><img src="" class="thumbnail"></a>
            <a href="" class="image-link"><img src="" class="thumbnail"></a>
            <a href="" class="image-link"><img src="" class="thumbnail"></a>
        </figure>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function() {
        $('.image-link').magnificPopup({type:'image'});
    });
</script>