.about {
    .container {
        position: relative;
    }

    .who-family {
        @include bck-img('gradient-1-bck.jpg');
        background-size: cover;
        background-position: top center;
    }

    .bosses, .culture, .looking-for {
        @include info-layer-img;
    }

    .bosses{

        &:before {
            @include bck-img('shahaf.jpg');
            left: 0;
            background-position: 45% 68%;
        }

        &:after {
            @include bck-img('aviel.jpg');
            right: 0;
            background-position: 45% 68%;
        }

        blockquote {
            color: #000;
        }
    }

    .culture {
        &:after {
            @include bck-img('nissan.jpg');
            right: 0;
            background-position: 15% 55%;
        }

        h3, em {
            color: $brand-color;
        }
    }

    .looking-for {
        &:before {
            @include bck-img('arieh.jpg');
            left: 0;
            background-position: center;
        }

        &:after {
            @include bck-img('rodik.jpg');
            right: 0;
            background-position: center;
        }
    }

    .who, .family, .shahaf, .aviel, .arieh, .rodik, .kids, .our-culture, {
        @include info-slot;
    }

    .who, .family
    {
        min-height: 0;
        color: #fff;
    }

    .shahaf {
        @include gridle(4);
        @include gridle_suffix(2);
        @include gridle(12, mobile);
        @include gridle_suffix(0, mobile);
    }

    .aviel {
        @include gridle(5);
        @include gridle_suffix(1);
        @include gridle(12, mobile);
        @include gridle_suffix(0, mobile);

    }

    .arieh {
        @include gridle(4);
        @include gridle_prefix(2);
        @include gridle(12, mobile);
        @include gridle_prefix(0, mobile);
    }

    .kids {
        @include gridle(4);
        @include gridle(12, mobile);
        padding-top: $spacing-unit*2;
    }

    .rodik {
        @include gridle(12, mobile);

        .big-n-flashy {
            margin-top: 370px;
        }
    }

}