.contact {

    .address, .facebook {
        @include info-slot;
        @include gridle(6);
        @include gridle(12, mobile);
    }

    .map-embed, .facebook-embed {
        width: 100%;
        height: $info-block-height*0.75;
    }

    .facebook-embed {
        height: 600px;
        border: 0;
    }

    .info-block {
        h3, em {
            color: $brand-color;
        }
    }

}