$bar-height     : 100px;
$logo-width     : 118px;

.site-header {
    height: $bar-height;
    background-color: $brand-color;
    color: $text-white;
    vertical-align: middle;
    position: relative;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;

    .container {
        position: relative;

    }

    .site-title {
        @include gridle(6);
        @include gridle(12, mobile);
        font-weight: $f-light;
        display: inline-block;
        font-size: $base-font-size*2;
        line-height: $bar-height + 3px;
        overflow: hidden;
        color: inherit;
        white-space: nowrap;
        text-indent: 3pt;
        text-decoration: none;

        &:before {
            @include vertical-align;
            content:'';
            height: 35px;
            width: $logo-width;
            margin-top: -2px;
            left: 0;
            z-index: 2;
            background-image: url(../img/ui/logo.png);
            background-repeat: no-repeat;
            background-position: top left;
            background-color: $brand-color;
        }
    }

    .site-nav {
        @include gridle(6);
        @include gridle(12, mobile);
    }
}

