$bar-height     : 100px;
$logo-width     : 118px;

.site-header {
    height: $bar-height;
    background-color: $brand-color;
    color: $text-white;
    vertical-align: middle;
    position: relative;

    .container {
        position: relative;
    }

    .site-title {
        @include gridle(6);
        font-weight: $f-light;
        display: inline-block;
        font-size: $base-font-size*2;
        line-height: $bar-height;
        margin-left: $logo-width+10px;
        text-indent: -104px;
        overflow: hidden;
        color: inherit;

        &:before {
            @include vertical-align;
            content:'';
            height: 35px;
            width: $logo-width;
            margin-top: -2px;
            left: 0;
            background-image: url(../img/ui/logo.png);
            background-repeat: no-repeat;
            background-position: top left;
        }
    }

    .site-nav {
        @include gridle(6);
    }
}

